*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #4c70af;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  background-color: #f4f4f4;
  width: 250px;
  padding: 1rem;
  transition: transform 0.3s ease;
  position: relative;
}

.sidebar ul li {
  margin-bottom: 1rem;
  text-decoration: underline;
  cursor: pointer;
  list-style: none;
}

main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

#project-title {
  color: #4c70af;
  font-size: 2rem;
}

h2 {
  margin-bottom: 10px;
}

#add-project {
  position: absolute; 
  bottom: 2.5rem; 
  left: 85%; 
  transform: translateX(-50%);
  background-color: #4c70af;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#add-project:hover {
  background-color: #3a568c; 
  transform: translateX(-50%) scale(1.1); 
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  header button {
    display: block;
  }

  .container {
    flex-direction: column;
  }
}
